.overlay {
  background-color: rgba(0, 0, 0, 0.658);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  background: rgba(255, 255, 255, 0.866);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
}

.label-register {
  display: block;
}

.my-form {
  margin: 8px 0px;
}

.my-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0px;
}

hr {
  margin: 10px 0px;
}

.btn-submit-register {
  background: #4c8f19;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
